<a href="https://colab.research.google.com/github/nicole-yoong/Portfolio/blob/main/Pyspark/Pyspark_Fundamental_Linear_Regression_NHL_Game.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 56.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b0426ca803b4503c2378a153c446c82c703a4c5c1447f86b70fc4f52e7468e01
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

# Import packages

In [ ]:
import pandas as pd
import numpy as np

from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession, SQLContext

from pyspark.sql.types import *
import pyspark.sql.functions as F
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import col,isnan, when, count

In [ ]:
spark = SparkSession.builder.master("local[2]").appName("California-Housing").getOrCreate()

# Reading dataset

In [ ]:
#Read the CSV file into a Spark dataframe, similar to df.head() in Pandas
file_location = "/content/drive/MyDrive/Python/Case Studies/Datasets/california_housing.csv"
df = spark.read.format("csv").option("inferSchema",True).option("header", True).load(file_location)
display(df)

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double, ocean_proximity: string]

In [ ]:
#Save the file to parquet format as it is a file format that includes metadata about the column data types, offers file compression
df.write.save("/content/drive/MyDrive/Python/Case Studies/Datasets/california_housing.parquet", format='parquet')
df = spark.read.load("/content/drive/MyDrive/Python/Case Studies/Datasets/california_housing.parquet")
display(df)

## Spark to Pandas dataframe

In [ ]:
df.limit(10).toPandas()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

## Spark to SparkSQL dataframe

In [ ]:
df.createOrReplaceTempView("df")
spark.sql("select * from df").show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|       NEAR BAY|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|       NEAR BAY|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|       NEAR BAY|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|       NEAR BAY|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|       NEAR BAY|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|       NEAR BAY|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|       NEAR BAY|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

# Missing values

In [ ]:
# Find Count of Null, None, NaN of All DataFrame Columns
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|        0|       0|                 0|          0|           207|         0|         0|            0|                 0|              0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+

In [ ]:
df = df.dropna()
df.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|       NEAR BAY|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 10 rows

# Data exploration

In [ ]:
df.take(5)

[Row(longitude=-122.23, latitude=37.88, housing_median_age=41.0, total_rooms=880.0, total_bedrooms=129.0, population=322.0, households=126.0, median_income=8.3252, median_house_value=452600.0, ocean_proximity='NEAR BAY'),
 Row(longitude=-122.22, latitude=37.86, housing_median_age=21.0, total_rooms=7099.0, total_bedrooms=1106.0, population=2401.0, households=1138.0, median_income=8.3014, median_house_value=358500.0, ocean_proximity='NEAR BAY'),
 Row(longitude=-122.24, latitude=37.85, housing_median_age=52.0, total_rooms=1467.0, total_bedrooms=190.0, population=496.0, households=177.0, median_income=7.2574, median_house_value=352100.0, ocean_proximity='NEAR BAY'),
 Row(longitude=-122.25, latitude=37.85, housing_median_age=52.0, total_rooms=1274.0, total_bedrooms=235.0, population=558.0, households=219.0, median_income=5.6431, median_house_value=341300.0, ocean_proximity='NEAR BAY'),
 Row(longitude=-122.25, latitude=37.85, housing_median_age=52.0, total_rooms=1627.0, total_bedrooms=280.0, population=565.0, households=259.0, median_income=3.8462, median_house_value=342200.0, ocean_proximity='NEAR BAY')]

In [ ]:
df.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)
 |-- ocean_proximity: string (nullable = true)

## Columns

In [ ]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [ ]:
df.select('longitude','latitude').show(10)

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -122.23|   37.88|
|  -122.22|   37.86|
|  -122.24|   37.85|
|  -122.25|   37.85|
|  -122.25|   37.85|
|  -122.25|   37.85|
|  -122.25|   37.84|
|  -122.25|   37.84|
|  -122.26|   37.84|
|  -122.25|   37.84|
+---------+--------+
only showing top 10 rows

In [ ]:
df.withColumnRenamed("longitude","long").show(10)

+-------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|   long|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+-------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|-122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|-122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|-122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|-122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|-122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
|-122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|       NEAR BAY|
|-122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|       NEAR BAY|
|-122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|       NEAR BAY|
|-122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|       NEAR BAY|
|-122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|       NEAR BAY|
+-------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 10 rows

In [ ]:
df.withColumnRenamed("longitude","long").withColumnRenamed("latitude","lat").show(10)

+-------+-----+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|   long|  lat|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+-------+-----+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|-122.23|37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|-122.22|37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|-122.24|37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|-122.25|37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|-122.25|37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
|-122.25|37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|       NEAR BAY|
|-122.25|37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|       NEAR BAY|
|-122.25|37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|       NEAR BAY|
|-122.26|37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|       NEAR BAY|
|-122.25|37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|       NEAR BAY|
+-------+-----+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 10 rows

## Sort

In [ ]:
df.sort("median_house_value").show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -117.86|   34.24|              52.0|      803.0|         267.0|     628.0|     225.0|       4.1932|           14999.0|         INLAND|
|  -123.17|   40.31|              36.0|       98.0|          28.0|      18.0|       8.0|        0.536|           14999.0|         INLAND|
|  -117.02|    36.4|              19.0|      619.0|         239.0|     490.0|     164.0|          2.1|           14999.0|         INLAND|
|  -122.74|   39.71|              16.0|      255.0|          73.0|      85.0|      38.0|       1.6607|           14999.0|         INLAND|
|  -118.33|   34.15|              39.0|      493.0|         168.0|     259.0|     138.0|       2.3667|           17500.0|      <1H OCEAN|
|  -116.57|   35.43|               8.0|     9975.0|        1743.0|    6835.0|    1439.0|       2.7138|           22500.0|         INLAND|
|  -121.29|   37.95|              52.0|      107.0|          79.0|     167.0|      53.0|       0.7917|           22500.0|         INLAND|
|  -122.32|   37.93|              33.0|      296.0|          73.0|     216.0|      63.0|        2.675|           22500.0|       NEAR BAY|
|  -117.16|   32.71|              52.0|      845.0|         451.0|    1230.0|     375.0|       1.0918|           22500.0|     NEAR OCEAN|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|         INLAND|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 10 rows

In [ ]:
from pyspark.sql import functions as F
df.sort(F.desc("median_house_value")).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.82|              52.0|     3494.0|         396.0|    1192.0|     383.0|      12.3804|          500001.0|       NEAR BAY|
|  -121.97|   37.87|               4.0|     1029.0|         126.0|     416.0|     122.0|      13.4883|          500001.0|         INLAND|
|  -122.25|   37.87|              52.0|      609.0|         236.0|    1349.0|     250.0|       1.1696|          500001.0|       NEAR BAY|
|  -122.27|    37.8|              52.0|      249.0|          78.0|     396.0|      85.0|       1.2434|          500001.0|       NEAR BAY|
|   -122.0|   37.86|              18.0|     8953.0|        1074.0|    3011.0|     993.0|      10.7372|          500001.0|      <1H OCEAN|
|  -122.03|   37.83|              24.0|     5948.0|         738.0|    1997.0|     710.0|       9.8708|          500001.0|       NEAR BAY|
|  -121.93|   37.66|              24.0|     3166.0|         424.0|    1081.0|     400.0|       8.3337|          500001.0|      <1H OCEAN|
|  -122.24|   37.86|              52.0|     1668.0|         225.0|     517.0|     214.0|       7.8521|          500001.0|       NEAR BAY|
|  -122.23|   37.83|              52.0|     2990.0|         379.0|     947.0|     361.0|       7.8772|          500001.0|       NEAR BAY|
|  -122.23|   37.82|              52.0|     1611.0|         203.0|     556.0|     179.0|       8.7477|          500001.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 10 rows

## Filter

In [ ]:
df.filter((df.median_house_value > 500000) & (df.total_rooms >3000) & (df.ocean_proximity == 'INLAND')).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -121.96|   37.85|              10.0|     3209.0|         379.0|    1199.0|     392.0|      12.2478|          500001.0|         INLAND|
|  -121.89|   37.82|               4.0|    11444.0|        1355.0|    3898.0|    1257.0|      13.2949|          500001.0|         INLAND|
|  -121.91|   37.81|               7.0|     3477.0|         416.0|    1216.0|     395.0|      13.1499|          500001.0|         INLAND|
|  -118.02|   34.17|              32.0|     3868.0|         548.0|    1558.0|     528.0|       9.4667|          500001.0|         INLAND|
|  -118.05|   34.15|              32.0|     5131.0|         665.0|    1877.0|     622.0|       8.2004|          500001.0|         INLAND|
|  -118.09|   34.18|              34.0|     3113.0|         409.0|    1139.0|     418.0|      10.2289|          500001.0|         INLAND|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+

## Groupby

In [ ]:
from pyspark.sql import functions as F
df.groupBy(["ocean_proximity"]).agg(F.sum("median_house_value").alias("sum_mhvalue"),\
    F.max("median_house_value")).alias("max_mhvalue").show()

+---------------+-------------+-----------------------+
|ocean_proximity|  sum_mhvalue|max(median_house_value)|
+---------------+-------------+-----------------------+
|         ISLAND|    1902200.0|               450000.0|
|     NEAR OCEAN| 6.62995512E8|               500001.0|
|       NEAR BAY| 5.93596194E8|               500001.0|
|      <1H OCEAN|2.193410032E9|               500001.0|
|         INLAND| 8.17600123E8|               500001.0|
+---------------+-------------+-----------------------+

In [ ]:
_from pyspark.sql import functions as F
df.groupBy(["ocean_proximity"]).agg(F.sum("median_house_value") ,F.max("median_house_value")).show()

In [ ]:
#Group by median_income and see the distribution
result = df.groupBy("median_income").count().sort("median_income", ascending=False)
result.show(10)

+-------------+-----+
|median_income|count|
+-------------+-----+
|      15.0001|   48|
|         15.0|    2|
|      14.9009|    1|
|      14.5833|    1|
|      14.4219|    1|
|      14.4113|    1|
|      14.2959|    1|
|      14.2867|    1|
|       13.947|    1|
|      13.8556|    1|
+-------------+-----+
only showing top 10 rows

In [ ]:
df.describe().show()

+-------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------+
|summary|          longitude|          latitude|housing_median_age|       total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|ocean_proximity|
+-------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------+
|  count|              20433|             20433|             20433|             20433|             20433|             20433|             20433|             20433|             20433|          20433|
|   mean|-119.57068859198068| 35.63322125972706|28.633093525179856|2636.5042333480155| 537.8705525375618|1424.9469485635982|499.43346547251997|3.8711616013312273|206864.41315519012|           null|
| stddev|  2.003577890751096|2.1363476663779872|12.591805202182835| 2185.269566977601|421.38507007403115|1133.2084897449597| 382.2992258828481| 1.899291249306247|115435.66709858322|           null|
|    min|            -124.35|             32.54|               1.0|               2.0|               1.0|               3.0|               1.0|            0.4999|           14999.0|      <1H OCEAN|
|    max|            -114.31|             41.95|              52.0|           39320.0|            6445.0|           35682.0|            6082.0|           15.0001|          500001.0|     NEAR OCEAN|
+-------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------+

In [ ]:
(df.describe().select(
                    "summary",
                    F.round("longitude", 4).alias("longitude"),
                    F.round("latitude", 4).alias("latitude"),
                    F.round("housing_median_age", 4).alias("housing_median_age"),
                    F.round("total_rooms", 4).alias("total_rooms"),
                    F.round("total_bedrooms", 4).alias("total_bedrooms"),
                    F.round("population", 4).alias("population"),
                    F.round("households", 4).alias("households"),
                    F.round("median_income", 4).alias("median_income"),
                    F.round("median_house_value", 4).alias("median_house_value"),
                    F.round("ocean_proximity", 4).alias("ocean_proximity"))
                    .show())

+-------+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|summary|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+-------+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  count|  20433.0| 20433.0|           20433.0|    20433.0|       20433.0|   20433.0|   20433.0|      20433.0|           20433.0|        20433.0|
|   mean|-119.5707| 35.6332|           28.6331|  2636.5042|      537.8706| 1424.9469|  499.4335|       3.8712|       206864.4132|           null|
| stddev|   2.0036|  2.1363|           12.5918|  2185.2696|      421.3851| 1133.2085|  382.2992|       1.8993|       115435.6671|           null|
|    min|  -124.35|   32.54|               1.0|        2.0|           1.0|       3.0|       1.0|       0.4999|           14999.0|           null|
|    max|  -114.31|   41.95|              52.0|    39320.0|        6445.0|   35682.0|    6082.0|      15.0001|          500001.0|           null|
+-------+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+

Look at the minimum and maximum values of all the (numerical) attributes. We see that multiple attributes have a wide range of values: we will need to normalize your dataset.

# Data Pre-processing

In [ ]:
#Express the house values in units of 100,000
df = df.withColumn("median_house_value", col("median_house_value")/100000)
df.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|             4.526|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|             3.585|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|             3.521|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|             3.413|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|             3.422|       NEAR BAY|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|             2.697|       NEAR BAY|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|             2.992|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|             2.414|       NEAR BAY|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|             2.267|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|             2.611|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 10 rows

# Feature Engineering

Rooms per household which refers to the number of rooms in households per block group;
Population per household, which basically gives us an indication of how many people live in households per block group; And
Bedrooms per room which will give us an idea about how many rooms are bedrooms per block group;

In [ ]:
df = (df.withColumn("rooms_per_household", F.round(col("total_rooms")/col("households"), 2))
                       .withColumn("population_per_household", F.round(col("population")/col("households"), 2))
                       .withColumn("bedrooms_per_room", F.round(col("total_bedrooms")/col("total_rooms"), 2)))
df.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|rooms_per_household|population_per_household|bedrooms_per_room|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|             4.526|       NEAR BAY|               6.98|                    2.56|             0.15|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|             3.585|       NEAR BAY|               6.24|                    2.11|             0.16|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|             3.521|       NEAR BAY|               8.29|                     2.8|             0.13|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|             3.413|       NEAR BAY|               5.82|                    2.55|             0.18|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|             3.422|       NEAR BAY|               6.28|                    2.18|             0.17|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|             2.697|       NEAR BAY|               4.76|                    2.14|             0.23|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|             2.992|       NEAR BAY|               4.93|                    2.13|             0.19|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|             2.414|       NEAR BAY|                4.8|                    1.79|             0.22|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|             2.267|       NEAR BAY|               4.29|                    2.03|             0.26|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|             2.611|       NEAR BAY|               4.97|                    2.17|              0.2|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+
only showing top 10 rows

# Linear Regression

## Define X and y

In [ ]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator, CrossValidatorModel
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
X = ["total_bedrooms", "population", "households", "median_income", 
     "rooms_per_household", "population_per_household", "bedrooms_per_room"]

assembler = VectorAssembler(inputCols=X, outputCol="X")

In [ ]:
#Transform all features into Dense Vector
df2 = assembler.transform(df)
df2.show(10, truncate=False)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+--------------------------------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|rooms_per_household|population_per_household|bedrooms_per_room|X                                           |
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+--------------------------------------------+
|-122.23  |37.88   |41.0              |880.0      |129.0         |322.0     |126.0     |8.3252       |4.526             |NEAR BAY       |6.98               |2.56                    |0.15             |[129.0,322.0,126.0,8.3252,6.98,2.56,0.15]   |
|-122.22  |37.86   |21.0              |7099.0     |1106.0        |2401.0    |1138.0    |8.3014       |3.585             |NEAR BAY       |6.24               |2.11                    |0.16             |[1106.0,2401.0,1138.0,8.3014,6.24,2.11,0.16]|
|-122.24  |37.85   |52.0              |1467.0     |190.0         |496.0     |177.0     |7.2574       |3.521             |NEAR BAY       |8.29               |2.8                     |0.13             |[190.0,496.0,177.0,7.2574,8.29,2.8,0.13]    |
|-122.25  |37.85   |52.0              |1274.0     |235.0         |558.0     |219.0     |5.6431       |3.413             |NEAR BAY       |5.82               |2.55                    |0.18             |[235.0,558.0,219.0,5.6431,5.82,2.55,0.18]   |
|-122.25  |37.85   |52.0              |1627.0     |280.0         |565.0     |259.0     |3.8462       |3.422             |NEAR BAY       |6.28               |2.18                    |0.17             |[280.0,565.0,259.0,3.8462,6.28,2.18,0.17]   |
|-122.25  |37.85   |52.0              |919.0      |213.0         |413.0     |193.0     |4.0368       |2.697             |NEAR BAY       |4.76               |2.14                    |0.23             |[213.0,413.0,193.0,4.0368,4.76,2.14,0.23]   |
|-122.25  |37.84   |52.0              |2535.0     |489.0         |1094.0    |514.0     |3.6591       |2.992             |NEAR BAY       |4.93               |2.13                    |0.19             |[489.0,1094.0,514.0,3.6591,4.93,2.13,0.19]  |
|-122.25  |37.84   |52.0              |3104.0     |687.0         |1157.0    |647.0     |3.12         |2.414             |NEAR BAY       |4.8                |1.79                    |0.22             |[687.0,1157.0,647.0,3.12,4.8,1.79,0.22]     |
|-122.26  |37.84   |42.0              |2555.0     |665.0         |1206.0    |595.0     |2.0804       |2.267             |NEAR BAY       |4.29               |2.03                    |0.26             |[665.0,1206.0,595.0,2.0804,4.29,2.03,0.26]  |
|-122.25  |37.84   |52.0              |3549.0     |707.0         |1551.0    |714.0     |3.6912       |2.611             |NEAR BAY       |4.97               |2.17                    |0.2              |[707.0,1551.0,714.0,3.6912,4.97,2.17,0.2]   |
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+--------------------------------------------+
only showing top 10 rows

## Standardization

In [ ]:
standardScaler = StandardScaler(inputCol="X", outputCol="X_scaled")
scaled_df = standardScaler.fit(df2).transform(df2)
scaled_df.select("X", "X_scaled").show(10, truncate=False)

+--------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+
|X                                           |X_scaled                                                                                                                               |
+--------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+
|[129.0,322.0,126.0,8.3252,6.98,2.56,0.15]   |[0.306133295081709,0.2841489478008318,0.329584763633844,4.383319305578301,2.8111579992311904,0.245252327599291,2.584777863821999]      |
|[1106.0,2401.0,1138.0,8.3014,6.24,2.11,0.16]|[2.6246777082199237,2.1187628064279416,2.976725881073924,4.370788315395149,2.5131269219488006,0.20214156688847812,2.7570963880767994]  |
|[190.0,496.0,177.0,7.2574,8.29,2.8,0.13]    |[0.4508940005079435,0.43769527363109495,0.4629881203427808,3.8211095863527547,3.3387535549608263,0.2682447333117245,2.2401408153123996]|
|[235.0,558.0,219.0,5.6431,5.82,2.55,0.18]   |[0.5576846848387722,0.4924071828349818,0.5728497082207288,2.971160953888063,2.343974148356093,0.24429431069460625,3.1017334365863993]  |
|[280.0,565.0,259.0,3.8462,6.28,2.18,0.17]   |[0.6644753691696009,0.4985843338741303,0.6774797919140126,2.02507119506021,2.529236709910011,0.20884768522127126,2.9294149123315996]   |
|[213.0,413.0,193.0,4.0368,4.76,2.14,0.23]   |[0.5054759058325893,0.3644519113097625,0.5048401538200943,2.125424418963927,1.9170647673840209,0.20501561760253234,3.9633260578603995] |
|[489.0,1094.0,514.0,3.6591,4.93,2.13,0.19]  |[1.1604587697283388,0.9654004624040683,1.3444965754586968,1.9265607638304854,1.9855313662191645,0.2040576006978476,3.274051960841199]  |
|[687.0,1157.0,647.0,3.12,4.8,1.79,0.22]     |[1.6303377807839852,1.0209948217564049,1.6923916037388653,1.6427180408163524,1.933174555345231,0.17148502593856677,3.7910075336055993] |
|[665.0,1206.0,595.0,2.0804,4.29,2.03,0.26]  |[1.5781290017778022,1.0642348790304446,1.5563724949375966,1.0953559654212626,1.7277747588398005,0.19447743165100026,4.480281630624799] |
|[707.0,1551.0,714.0,3.6912,4.97,2.17,0.2]   |[1.6778003071532424,1.3686801802456214,1.8676469939251157,1.9434618052119612,2.001641154180375,0.2078896683165865,3.4463704850959993]  |
+--------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

## Train test split

In [ ]:
rnd_seed=1024
np.random.seed=rnd_seed
np.random.set_state=rnd_seed

train, test = scaled_df.randomSplit([.8,.2], seed=rnd_seed)

In [ ]:
train.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity',
 'rooms_per_household',
 'population_per_household',
 'bedrooms_per_room',
 'X',
 'X_scaled']

In [ ]:
from pyspark.ml.regression import LinearRegression
from pyspark.mllib.evaluation import RegressionMetrics

lr = (LinearRegression(featuresCol='X_scaled', labelCol="median_house_value", predictionCol='pred_median_house_value', 
                               maxIter=10, regParam=0.3, elasticNetParam=0.8, standardization=False))

model = lr.fit(train)
model.coefficients

DenseVector([0.0, 0.0, 0.0, 0.5297, 0.0, 0.0, 0.0])

In [ ]:
model.intercept

0.9902407246097965

In [ ]:
coeff_df = pd.DataFrame({"Feature": ["Intercept"] + X, "Co-efficients": np.insert(model.coefficients.toArray(), 0, model.intercept)})
coeff_df = coeff_df[["Feature", "Co-efficients"]]
coeff_df

                    Feature  Co-efficients
0                 Intercept       0.990241
1            total_bedrooms       0.000000
2                population       0.000000
3                households       0.000000
4             median_income       0.529749
5       rooms_per_household       0.000000
6  population_per_household       0.000000
7         bedrooms_per_room       0.000000

In [ ]:
predictions = model.transform(test)
predandlabels = predictions.select("pred_median_house_value", "median_house_value")
predandlabels.show(10)

+-----------------------+------------------+
|pred_median_house_value|median_house_value|
+-----------------------+------------------+
|     1.8310980505664771|             0.946|
|     1.5424168111843946|             0.858|
|     1.6925310556630775|              0.79|
|      1.682099482375261|             0.732|
|     1.4654630392563592|             0.783|
|     1.4512381665911551|             0.581|
|      1.709712470490069|             0.684|
|     1.9765822384521723|             0.901|
|     1.3993592192239404|             0.646|
|      1.797934572921521|             0.864|
+-----------------------+------------------+
only showing top 10 rows

In [ ]:
# The smaller an RMSE value, the closer predicted and observed values are.
print("RMSE: {0}".format(model.summary.rootMeanSquaredError))

RMSE: 0.878548267063143

In [ ]:
print("MAE: {0}".format(model.summary.meanAbsoluteError))

MAE: 0.6755136983514918

In [ ]:
print("R2: {0}".format(model.summary.r2))

R2: 0.4214673669409482

# SPARK SQL!!!!!

In [ ]:
spark.sql("select * from df").show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|rooms_per_household|population_per_household|bedrooms_per_room|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|             4.526|       NEAR BAY|               6.98|                    2.56|             0.15|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|             3.585|       NEAR BAY|               6.24|                    2.11|             0.16|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|             3.521|       NEAR BAY|               8.29|                     2.8|             0.13|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|             3.413|       NEAR BAY|               5.82|                    2.55|             0.18|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|             3.422|       NEAR BAY|               6.28|                    2.18|             0.17|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|             2.697|       NEAR BAY|               4.76|                    2.14|             0.23|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|             2.992|       NEAR BAY|               4.93|                    2.13|             0.19|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|             2.414|       NEAR BAY|                4.8|                    1.79|             0.22|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|             2.267|       NEAR BAY|               4.29|                    2.03|             0.26|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|             2.611|       NEAR BAY|               4.97|                    2.17|              0.2|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|             2.815|       NEAR BAY|               5.48|                    2.26|              0.2|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|             2.418|       NEAR BAY|               4.77|                    2.05|             0.21|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|             2.135|       NEAR BAY|               5.32|                    2.35|             0.19|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|             1.913|       NEAR BAY|                4.0|                    1.98|             0.27|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|             1.592|       NEAR BAY|               4.26|                    1.95|             0.24|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|               1.4|       NEAR BAY|               4.24|                    2.64|             0.25|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|             1.525|       NEAR BAY|               5.94|                     2.4|             0.18|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|             1.555|       NEAR BAY|               4.05|                    2.14|             0.24|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|             1.587|       NEAR BAY|               5.34|                    2.36|              0.2|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|             1.629|       NEAR BAY|               5.47|                    2.51|              0.2|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------------+------------------------+-----------------+
only showing top 20 rows

In [ ]:
spark.sql("select rooms_per_household, population_per_household, bedrooms_per_room from df order by median_house_value asc").show()

+-------------------+------------------------+-----------------+
|rooms_per_household|population_per_household|bedrooms_per_room|
+-------------------+------------------------+-----------------+
|               3.57|                    2.79|             0.33|
|              12.25|                    2.25|             0.29|
|               6.71|                    2.24|             0.29|
|               3.77|                    2.99|             0.39|
|               3.57|                    1.88|             0.34|
|               2.25|                    3.28|             0.53|
|               6.93|                    4.75|             0.17|
|               2.02|                    3.15|             0.74|
|                4.7|                    3.43|             0.25|
|               1.63|                    2.37|             0.75|
|                4.9|                    2.75|             0.21|
|                5.7|                    2.95|              0.2|
|               6.47|                    1.93|             0.25|
|               6.28|                     4.4|             0.18|
|               8.71|                    1.86|             0.28|
|                5.5|                    2.82|             0.19|
|               10.4|                    2.55|             0.24|
|               2.65|                    2.76|             0.42|
|               4.28|                    2.32|             0.27|
|               3.71|                    2.01|             0.29|
+-------------------+------------------------+-----------------+
only showing top 20 rows

In [ ]:
spark.sql("select total_rooms, median_house_value from df where median_house_value > 5 order by total_rooms").show()

+-----------+------------------+
|total_rooms|median_house_value|
+-----------+------------------+
|        8.0|           5.00001|
|       30.0|           5.00001|
|       42.0|           5.00001|
|       45.0|           5.00001|
|       56.0|           5.00001|
|       58.0|           5.00001|
|       70.0|           5.00001|
|       91.0|           5.00001|
|      102.0|           5.00001|
|      187.0|           5.00001|
|      189.0|           5.00001|
|      204.0|           5.00001|
|      204.0|           5.00001|
|      211.0|           5.00001|
|      238.0|           5.00001|
|      240.0|           5.00001|
|      243.0|           5.00001|
|      249.0|           5.00001|
|      249.0|           5.00001|
|      250.0|           5.00001|
+-----------+------------------+
only showing top 20 rows